[2015-12-15 13:34] petermolnar opened #1 "admin not showing"
Hi David,

Once installed & enabled on 4.4, navigating to Bridgy Publish settings page is empty for me, no PHP errors logged. Any ideas?

[2015-12-16 11:23] dshanske commented on #1
I will have a look.

[2015-12-16 11:29] petermolnar commented on #1
I've figured it out; my logging had issues, the problem was the post kinds static function call, since the kinds plugin I don't have.

[2015-12-16 12:44] dshanske commented on #1
I put a post kind call in there? Hmmm... Better fix that

[2015-12-18 18:06] dshanske opened #2 "Support new Bridgy custom post markup"
Bridgy allows you to set the presentation for publishing now

[2015-12-23 17:52] singpolyma commented on #1
Yeah, this line `kind_taxonomy::kind_defaultterms ();` makes it crash in my install also

[2015-12-23 22:13] dshanske commented on #1
Working on Post Kinds right now for an end of year commitment. Will swing through Bridgy Publish quickly

[2015-12-23 22:22] singpolyma opened #3 "Option to have bridgy publish checkboxes default to checked"
Would be nice

[2015-12-24 04:47] dshanske commented on #1
It's left over. I used the Post Kinds settings page code. I guess I left in that line. It's removed in the repo version.

[2015-12-24 04:47] #1 closed

[2016-05-16 11:13] iamwebrocker opened #4 ""kind_taxonomy::kind_defaultterms();" breaks Admin screen in WP 4.5.2"
Hi,

thx for the plugin! (I tried something similar over the weekend, but failed hard ;-), if it is OK I'd like to add some of my ideas in here?)

While testing the plugin in my install I couldn't get the "settings" screen to work -- only a blank screen was returned, unless I commented out the line 47 in includes/class-bridgy-config.php:
[code]
I now see that this line is not in your code here on

[2016-05-16 11:14] iamwebrocker commented on #4
ok, duplicate of https://github.com/dshanske/bridgy-publish/issues/1 sry

[2016-05-16 11:14] #4 closed

[2016-05-16 21:58] iamwebrocker opened #5 "Set bridgy backlink options per post, not via plugin setting"
brid.gy offers two options for the omission of backlinks; "true" and "maybe". (https://brid.gy/about#omit-link) This "maybe" is interesting, because it includes a backlink only when the post has been truncated to fit the silo post's limit.
Currently in the plugin settings it is only possible to set globally if a backlink should be included or not.
I have made changes to add this option to the meta

[2016-06-11 10:29] iamwebrocker opened #6 ""Bridgy Publish Requires the WordPress Webmention Plugin""
this appears in the WP-admin /dashboard after the recent update to Webmention v.2.6.0 a few hours ago.
It appears that the check for the class "WebMentionPlugin" fails, since now the class is named "[Webmention_Plugin](https://github.com/pfefferle/wordpress-webmention/blob/master/webmention.php#L24)" in the webmention plugin code.
As a [hot fix](https://github.com/iamwebrocker/bridgy-publish/commi

[2016-06-11 23:57] dshanske commented on #5
The query parameter can also be sent as part of the webmention. Put in a suggestion for that(https://github.com/pfefferle/wordpress-webmention/issues/86). Currently working with @pfefferle on upgrades to the webmention plugin and may revisit after that feature is in stable.

[2016-06-11 23:58] dshanske commented on #6
I will deploy an update that checks for the new class.

[2016-06-11 23:58] #6 closed

[2016-06-12 00:39] dshanske opened #7 "Support Custom Post Types"
Add support for other post types.

[2016-06-25 00:59] TechLifeWeb commented on #5
Perhaps this is a separate request but would it be possible to set send/not send a link on a post by post basis at the time of publishing? I don't normally want to send a link but there are occasions when I do.

[2016-06-25 07:36] iamwebrocker commented on #5
@TechLifeWeb
yes, that's how I modded the code; in the post's meta box, next/below to the checkbox for the enabled social networks, is a dropdown where you can chose "[always | never | maybe] send backlink"
[line53ff](https://github.com/iamwebrocker/bridgy-publish/blob/master/includes/class-bridgy-postmeta.php#L53)
[line78ff](https://github.com/iamwebrocker/bridgy-publish/blob/master/includes/clas

[2016-06-26 04:55] TechLifeWeb commented on #5
@iamwebrocker
Thanks. I guess I should learn to read more closely. I'll give your code a test.

[2016-06-26 10:29] iamwebrocker commented on #5
cool, let me know how it goes. this is highly hacked together to fit my installation, not tested anywhere else :-)

[2016-07-19 00:58] davidmead opened #8 "Sending wrong part of post as Twitter reply"
Hi @dshanske.

I'm having an issue when using this to reply to tweets.

If I write my reply in WP, check the Bridgy Publish for Twitter, then paste the URL I'm replying to in Post Properties, and hit publish I get this in Twitter...

<img width="656" alt="david_mead_on_twitter___well_done__sodevious__next_up__pokemon_go__ __https___t_co_0qty4w4gb6__" src="https://cloud.githubusercontent.com/assets

[2016-07-19 13:05] dshanske commented on #8
Bridgy Publish parses your site to generate the tweet. So it partially depends on how it is marked up. But @snarfed has added ways to override that and be more specific. I may add support for them to the plugin.

[2016-07-26 02:17] davidmead commented on #8
That'd be great @dshanske. Also, what is the Instagram checkbox for? I didn't think they allowed posting anything apart through the web/app.

[2016-07-26 06:34] dshanske opened #9 "Deprecate Instagram Due No Longer Possible and Add Flickr"
Flickr is in, Instagram is out.

[2016-07-28 18:34] chrisaldrich opened #10 "UX: Bridgy to Twitter makes some unfortunate default photo choices"
Surely I should have put in a featured image, but otherwise it's grabbing multiple low res photos on the same page (in widgets, footer, or from gravatar author block) which don't correspond well with the content :
![bridgy publish](https://cloud.githubusercontent.com/assets/5882943/17224684/cd9bde56-54b6-11e6-8a49-870bf0946620.PNG)

Maybe default to none if not a featured image or appearing within

[2016-07-28 19:04] dshanske commented on #10
I am working on more logic on the WordPress side, but the issue is that Microformats is a theme, not a plugin issue usually.

[2016-07-28 19:07] dshanske commented on #10
The only solution I can think of is to write something that can be turned off and which has a good explanation of what on and off are.

[2016-07-28 21:31] chrisaldrich commented on #10
<a href="https://github.com/dshanske/bridgy-publish/issues/10" class="u-in-reply-to"></a>Sounds like a reasonable solution. I'd imagine that in most cases (to be safe) that if there's not a featured image, then posts to twitter would generally be just the text update as that's how most people typically use twitter.

Is it looking for photo related microformats with regard to identifying/pulling ph

[2016-08-01 05:44] #9 closed

[2016-08-01 15:38] dshanske commented on #3
Will be adding this in for the next release.

[2016-08-01 15:39] dshanske commented on #8
I'm working on this at the moment, and will try to add additional functionality for it in the next version.

[2016-08-01 15:40] dshanske commented on #10
Can you cross-post this issue to Bridgy itself?

[2016-08-01 20:22] snarfed commented on #10
replied in https://github.com/snarfed/bridgy/issues/691#issuecomment-236695656.

[2016-08-03 06:00] dshanske opened #11 "Move Bridgy Syndication Saving to MF2 Syndication"
In order to keep all plugins compatible, the post meta bridgy_syndication should be merged into mf2_syndication for all new saves and any old data migrated on request.

[2016-10-02 19:26] davidmead opened #12 "No posts to Twitter if media present?"
I've noticed when I have a photo or video embedded in the post, it doesn't show up on Twitter when posted.

I'm unsure if this is the plugin, or Brid.gy, at fault here.

I downloaded v1.1.0 but it still happens.

[2016-10-02 19:36] dshanske commented on #12
Publish uses mf2 markup. You would have to mark up the image or video.

[2016-10-02 19:41] davidmead commented on #12
What would I mark it up with? mf2 doesn't have a `p-media` as far as I know.

[2016-10-02 22:41] dshanske commented on #12
u-photo for images, for example.

[2016-10-02 23:21] davidmead commented on #12
OK. I'll try that.

[2016-10-02 23:37] davidmead commented on #12
That worked @dshanske.

Twitter - https://twitter.com/davidmead/status/782725076747636736
Flickr - https://flic.kr/p/LSm4gR
Post  - http://djm.click/blog/b/2Nz

I did notice though, that post shows syndicating to Flickr only. Both were checked and both were posted to.

<img width="520" alt="david_john_mead" src="https://cloud.githubusercontent.com/assets/1266930/19024708/6d2a6b8c-88d7-11e6-9a6c-df

[2016-12-11 17:13] iamwebrocker opened #13 "github not in sync with WP/svn?"
hi,
just noticed this after rebasing my forked version (#5) to match the latest 1.1.1 version: the github version is still 1.1.0, so now WP reminds me of the 1.1.1 update, which I had installed previously (losing all my custom changes, of course :-)

[2016-12-11 17:23] dshanske commented on #13
Would you be willing to try to submit any of your changes as PRs?

[2016-12-11 18:24] iamwebrocker commented on #13
Hi David, yes, of course. Back in May I wasn't sure if I'd only be fiddling with a thing fitting my use-case only… and now I'm unsure if my may-based changes aren't too far away from what's been done towards the 1.1.1 version, so I wanted to make sure first that my code won't crash with the current version :-) If it's ok for you, I'll PR now, the code has been rebased on the current github 1.1.0 v

[2016-12-11 18:25] dshanske commented on #13
I'd like to continue to improve the plugin. It's limited, as the real work is done by Bridgy itself, but it can still be useful.

[2016-12-11 18:54] iamwebrocker commented on #13
Ok, I just added the PR (#14). Sorry for the amount of commits, I had some back-and-forth while rebasing/merge some conflicts… :-)

[2016-12-28 19:14] davidmead opened #15 "Default to checked option not working?"
When I choose the 'default to checked' option it didn't check the box in the post.

It also didn't post to Twitter whether I manually checked the box in the post or not.

Un-checking 'default to checked' seem to fix this. Is this something you are looking at?

[2016-12-28 19:21] dshanske commented on #15
I will be.

[2017-01-14 08:20] #5 closed

[2017-01-14 08:21] dshanske commented on #3
This is addressed, but will be redoing the feature to allow the default to be set per service.

[2017-01-14 08:21] #3 closed

[2017-01-14 08:21] dshanske commented on #13
Will be incrementing the version to 1.2.0 for the next push.So resolved in that way.

[2017-01-14 08:21] #13 closed

[2017-01-14 18:14] #12 closed

[2017-01-14 18:15] dshanske commented on #10
May revisit this as a markup issue elsewhere, but closing it as a plugin issue.

[2017-01-14 18:15] #10 closed

[2017-01-14 18:20] dshanske opened #16 "Store Bridgy Published Status"
Considering, like the SNAP interface, noting in the UI that a post has been created if subsequently retrieved. Bridgy does not support updating or deleting anyway, so there is no point in resending the webmention at this time. If we do, we should display the error message that it isn't supported.

[2017-01-14 18:26] dshanske opened #17 "Support Micropub Syndicate To Targets"
This is a big one for me personally, as this would mean a Micropub client could tell the plugin to use Bridgy Publish to syndicate.

[2017-01-16 06:37] #17 closed

[2017-01-16 06:37] dshanske commented on #15
Completely redesigned this. Try it now?

[2017-01-16 06:38] #15 closed

[2017-01-16 06:38] #11 closed

[2017-01-17 01:13] miklb commented on #17
When I tested this today, I got the syndication targets to appear in Quill, (though I did have to set Twitter option to always to get it to stick), however when I chose Twitter, it didn't syndicate. Checking the post in WP admin, no option was checked.

[2017-01-17 01:18] miklb commented on #17
Also, don't think it is related, but using latest master code, I'm seeing all 3 bridgy links on the post even though I only syndicated to Twitter.
[code]

That's being appended to the note.

[2017-01-17 01:23] miklb commented on #5
When I tested this with the default option set to "maybe" , and the content was < 140 characters, I still only got Site title & link published to Twitter via bridgy.

[2017-01-17 06:55] iamwebrocker commented on #5
@miklb hi, thanks for the feedback, will check. just to be sure; the title plus the link alone won't take up the char limit? not sure how the default bridgy behavior is supposed to be in that case, or if there's some kind of minimum chars must be left for the content limit before it'll be displayed.

[2017-01-17 12:52] dshanske opened #18 "Store Publish Status in mf2_syndicate-to"
In the effort to continue using microformats properties as keys, explore natively using mf2_syndicate-to for Bridgy Publish.

[2017-01-17 12:54] dshanske commented on #17
The extra Bridgy links were fixed. As for the issue of not syndicating, I've decided to explore #18 as a better way of addressing, which means a storage rewrite again.

[2017-01-19 02:42] #18 closed

[2017-01-21 14:23] davidmead opened #19 "Wordpress error - Warning: stripos() expects parameter 1"
Installed the updated version. Having it default to Twitter works great. Thanks.

I have noticed this error on my pages where something has been syndicated to Twitter though

`Warning: stripos() expects parameter 1 to be string, array given in /nfs/c03/h06/mnt/56448/domains/davidjohnmead.com/html/blog/wp-includes/formatting.php on line 3774`

<img width="833" alt="david_john_mead___living_and_work

[2017-01-21 14:45] dshanske commented on #19
I will try to reproduce the error on my sites. How is the update otherwise?

[2017-01-21 16:00] davidmead commented on #19
Looks good so far @dshanske. Everything working as expected 👍

[2017-01-21 17:32] dshanske commented on #19
I have the same error in my logs, but from November, so it must be something else. Might be a multi plugin interaction.

[2017-01-21 17:35] miklb commented on #19
I'm seeing the error in my logs that coincide with my last published post attempting to post to bridgy, fwiw.

[2017-01-21 17:45] dshanske commented on #19
It is hard to trace because it doesn't reference a plugin file, but I will keep trying.

[2017-01-21 17:49] dshanske commented on #19
stripos only appears in the file in question in esc_url

[2017-01-21 17:52] dshanske commented on #19
Which is not called by this plugin, but is called by Syndication Links, which this plugin does set display parameters for. May need a check for empty in that plugin

[2017-01-21 18:10] davidmead commented on #19
The only other plugin that updated recently, that I have installed, is [JetPack](http://jetpack.com/). That was 4 days ago. Not sure if that would effect it.

[2017-01-21 18:17] dshanske commented on #19
Do you have Syndication Links installed?

[2017-01-21 18:20] miklb commented on #19
@dshanske I have syndication links installed.

[2017-01-21 18:28] davidmead commented on #19
Yes. Version 3.0.5

[2017-01-21 18:35] dshanske commented on #19
It is the combination of the two

[2017-01-21 19:08] miklb opened #20 "Not omitting Backlink"
Discussed in #indieweb even when I explicitly set the post to `Omit Back Link Always`, it is still sending the link only and not embedding the data class. I looked in the DB and am seeing `_bridgy_backlnk` set to `true`

So I guess I'm not following how that then works with [if ( '' !== $backlink_option )](https://github.com/dshanske/bridgy-publish/blob/master/includes/class-bridgy-postmeta.php#L2

[2017-01-22 04:14] #20 closed

[2017-01-22 19:38] miklb commented on #17
Just tested this now that I have bridgy-publish properly posting, and didn't set the option on the note to syndicate to Twitter, though I know i did check the option in Quill. Let me know how I can help debug.

[2017-01-23 18:38] davidmead commented on #19
Just installed your update @dshanske. No error messages on my blog page now when publishing and syndicating to Twitter. The posts with the original error, still shows it.

Did notice that that when the post is published on Twitter, the syndication link is not showing.

![image](https://cloud.githubusercontent.com/assets/1266930/22217425/ffc55ec4-e170-11e6-8bb5-4441defca0be.png)

- [Blog post](http

[2017-01-23 23:35] dshanske commented on #19
Do you want it to?

[2017-01-24 13:34] davidmead commented on #19
Yes. It used to before the update and I'd like to keep that if possible.

See [https://twitter.com/davidmead/status/822630405987823616](https://twitter.com/davidmead/status/822630405987823616) as an example.

![image](https://cloud.githubusercontent.com/assets/1266930/22249191/e97e9d02-e20f-11e6-8999-7ee0f5812ee6.png)

[2017-01-24 13:57] dshanske commented on #19
Odd. It is showing on mine. It takes about ten seconds after the post. Uses wp-cron. I will have a look after Syndication Links is updated.

[2017-01-24 13:58] davidmead commented on #19
On my blog, yes it shows after the cron. I'm talking about the link back to my post on Twitter.

[2017-01-24 14:00] dshanske commented on #19
What is the omit link parameter set to by default and in the post?

[2017-01-24 14:02] davidmead commented on #19
Omit back link is set to 'Never'

[2017-01-25 19:59] snarfed opened #21 "surface errors from bridgy to user"
based on this ongoing conversation with cdevroe: https://chat.indieweb.org/2017-01-25/1485372011628000

... it sounds like errors from bridgy, ie non -2xx responses and their bodies, are currently dropped on the floor and nor shown to the user. it'd be nice to show them at some point. :P

specifically the error here from attempting to publish  :

`Couldn't find link to brid.gy/publish/twitter`

lo

[2017-01-25 20:29] snarfed commented on #21
looks like the same thing happened to @cdevroe on facebook:

https://brid.gy/facebook/10158195666450370#publishes

https://brid.gy/log?start_time=1485371678&key=aglzfmJyaWQtZ3lyOgsSDVB1Ymxpc2hlZFBhZ2UiE2h0dHA6Ly9jZGV2cm9lLmNvbS8MCxIHUHVibGlzaBiAgICAgOSRCgw

[2017-01-25 20:54] dshanske commented on #21
I just switched to async, partly because of an odd other issue. But I think I can take a page from SNAP on how they handle it. In the last update, the error is returned, but not acted on.

[2017-01-25 21:01] dshanske commented on #21
I think I have to figure out how the link is not going when the Webmention is. I never could reproduce in testing

[2017-01-25 21:01] dshanske commented on #21
I think I have to figure out how the link is not going when the Webmention is. I never could reproduce in testing

[2017-01-25 21:02] dshanske commented on #21
And @snarfed, the plugin is merely a UI for the wonderful service you built and maintain.

[2017-01-25 21:25] snarfed commented on #21
thanks for the kind words!

i have a fair amount of experience with async vs sync, and honestly, the code and UX will both be *much* simpler and better if you go back to sync. it will cost a second or two in latency per publish, but i'm pretty sure it'll be worth it in this case. just my 2¢.

[2017-01-25 22:38] dshanske commented on #21
Actually I did it partially because the setting of the manual fill in for mf2_syndication kept conflicting with the automatic one from the Webmention. Other ways to solve it.

[2017-01-27 22:59] chrisaldrich opened #23 "Publish to IndieNews"
Reference IRC conversation from http://indieweb.org/irc/1970-01-17/line/1485556377 forward

[2017-01-28 15:20] dshanske opened #24 "Links Not Automatically Placed if Content Filter Not Used"
The plugin uses the content filter to add Bridgy Publish links invisibly to the content. Bridgy uses these links to verify intent to publish.

If you pull post content without running it through the filter, then you won't get the links. This creates a problem that at the least, should be documented in the plugin.

[2017-01-28 17:30] davidmead commented on #19
Hi @dshanske. Just wondered if you had any news on this?

[2017-01-28 17:32] dshanske commented on #19
Not yet. Looking at Syndication Links right now. Will be circling back in a few days to fix some reported bugs on my other improvements

[2017-01-28 17:48] davidmead commented on #19
Cool. Thanks for the update :-)

[2017-01-31 21:03] TechLifeWeb commented on #7
This would be great. Just created my first custom post type and dropped by here to figure out if this was supported.

[2017-02-09 05:38] dshanske commented on #2
Adopted this for Twitter. Will close for now.

[2017-02-09 05:38] #2 closed

[2017-02-09 05:38] dshanske commented on #8
Last version supported using the Excerpt for the Twitter output.

[2017-02-09 05:38] #8 closed

[2017-02-10 03:00] dshanske commented on #24
Links moved to footer.

[2017-02-10 03:00] #24 closed

[2017-02-11 05:27] dshanske commented on #21
Deploying a fix for this shortly.

[2017-02-11 05:46] dshanske commented on #7
This is now supported by filter in the new version.

[2017-02-11 05:46] #7 closed

[2017-02-11 05:48] dshanske commented on #19
I made some changes. Distributing a stable release shortly. Should address.

[2017-02-11 05:48] #19 closed

[2017-02-11 22:40] davidmead opened #25 "No back link showing on Twitter"
Updated today to Version 1.2.2 and the post from my site does get posted to Twitter, but with no backlink to the blog.

I posted [Picking music from @H_C's 'Best of 2016' lists](http://djm.click/blog/b/3bG) as the title and then content in the body. In the past this would publish to Twitter the title as the "tweet" and then the post shown underneath. In this instance it was just the title and noth

[2017-02-12 03:04] dshanske commented on #25
Can you download the fix I just pushed to the Github repo and tell me if this fixes the issue before I push a stable version?

[2017-02-12 15:16] davidmead commented on #25
That works like a charm @dshanske :-)

![image](https://cloud.githubusercontent.com/assets/1266930/22863314/c788ca32-f10b-11e6-87d2-566e2e243360.png)

I posted tests:

- title and content

- short content, no title

- long content, no title

and all seem to post as expected. Thanks very much.

[2017-02-13 17:14] iamwebrocker opened #26 "Stopped working in my install after update to 1.2.2"
after the recent update (which reversed the description(and the logic?) of the omit/show backlink per post option), now it won't publish thru bridgy, because "Bridgy Error: Couldn't find link to brid.gy/publish/twitter"
dunno if related to the above changes, but before the update it worked without adding a manual link in the post to brid.gy/publish/twitter (i thought this is what the plugin is all

[2017-02-13 17:16] dshanske commented on #26
It didn't invert the logic, just what the UI said, due massive confusion. So show will do nothing, etc. What do your settings say?

[2017-02-13 17:25] iamwebrocker commented on #26
it is set to "show", which also is set as default in the general plugin settings.

so, "omit -> never" is the same as "show -> always", "omit -> always" is "show -> never" and "maybe" is "maybe" ;-), ok. Just wondering if bridgy may has changed the logic, too? (not 100% sure, but I think on their site was "omit backlink", where now it says "Include link: yes no if shortened" (else I'm wondering wh

[2017-02-13 17:34] iamwebrocker commented on #26
On the other hand, even when no backlink is desired, a "webmention" link for bridgy should be inserted for it to work, so my issue cannot be related to the labeling changes… hmm.

[2017-02-13 17:44] iamwebrocker commented on #26
I just remember, I had some issues with the recent update of the webmention plugin which were resolved by simply de- and re-activating the plugin (after a suggestion by the author) -- will try this here as well and come back.
Update: the off/on trick did not work.

[2017-02-13 19:17] iamwebrocker commented on #26
It seems that the wp-postmeta will not be updated with the _bridgy_options:
the recent test:
![failed](https://cloud.githubusercontent.com/assets/1223080/22898676/7774ce06-f228-11e6-89da-9f3ca3660a6f.png)

an older test (I just re-checked; there's no link to brid.gy/publish/twitter/ in the post):
![worked](https://cloud.githubusercontent.com/assets/1223080/22898678/7ccd2984-f228-11e6-9db6-04093b2b

[2017-02-13 19:35] iamwebrocker commented on #26
Just poking in the dark… in

https://github.com/dshanske/bridgy-publish/blob/master/includes/class-bridgy-postmeta.php#L206 ff

there are checks on "mf2_syndication", but in the rest of the file (fe. https://github.com/dshanske/bridgy-publish/blob/master/includes/class-bridgy-postmeta.php#L147) "mf2_syndicatate-to" is used… could this be the problem?

[2017-02-13 20:13] dshanske commented on #26
mf2_syndication is the returned link. mf2_syndicate-to is the request to syndicate.

[2017-02-13 20:16] dshanske commented on #26
Let me look again. It seems like I break one person's fixing the other. I am not sure why.

[2017-02-13 20:24] iamwebrocker commented on #26
thanks!
I'm using the current 4.7.2 wordpress. the "indie web" plugins are: bridgy-publish (1.2.2), semantic linkbacks (3.3.0), syndication links (3.1.1), web actions (1.0.0dev), web mention (3.1.0), web mention form (1.0.0dev)
If you need additional info let me know.

[2017-02-13 20:40] iamwebrocker commented on #26
looking at #25 I notice that in my general settings I neither have shortlinks or "post from excerpt" enabled. Will try this, and come back.
Update: Changing those settings didn't change the error in my install.

[2017-02-13 21:04] iamwebrocker commented on #26
If I include an empty link to brid.gy/publish/twitter in the post it works as expected.
Just to make sure; this should not be needed, right? (asking because in #21 @snarfed mentioned a similar thing - plugin *should* add the link if neccessary) so I'm not sure if it once worked without the added link?

![manually](https://cloud.githubusercontent.com/assets/1223080/22903336/8fe35330-f238-11e6-80d6-

[2017-02-13 21:11] iamwebrocker commented on #26
the \_brigy\_* meta values are still not saved, it seems

![meta](https://cloud.githubusercontent.com/assets/1223080/22903490/10478b36-f239-11e6-9ada-4b64b46bf21f.png)

[2017-02-13 22:23] iamwebrocker commented on #26
Another idea - if the meta data is now inserted via wp-footer (not in the content - see #24) - will brid.gy pick up the "publish" intend if it now may be outside of the h-entry / post wrapper?

[2017-02-13 22:56] snarfed commented on #26
@iamwebrocker yes, the `brid.gy/publish/SILO` link can be anywhere on the page. thanks for the nudge, i've updated the docs:  https://brid.gy/about#publish-backlink

[2017-02-13 23:00] dshanske commented on #26
The storage location was moved several revisions ago to support Micropub

[2017-02-13 23:02] iamwebrocker commented on #26
@dshanske ok, then it seems that I haven't used the publish option since I updated to the 1.2.0 version a while ago. thanks for the info. :-)

[2017-03-12 21:23] dshanske opened #27 "Shortlinks"
Bridgy Publish picks up a setting built into WordPress which adds a rel shortlink even if shortlinks are not being used. Intend to remove this automatic support.

[2017-04-03 15:08] miklb opened #28 "Links back using maybe not counting characters correctly."
Not sure if something changed with bridgy, Twitter or bridgy-publish, but posts I know are < 140 characters, when using the setting for "maybe" link show links back, I am still getting links in Tweets.

Setting to no as a default is my short term solution.

[2017-04-12 16:53] miklb opened #29 "Oembed Tweet HTML doesn't include `u-url`"
If you are using oembed Tweets, and do a reply to a tweet, the embedded HTML (which I learned is stored in the postmeta) doesn't include `u-url`on the link to the tweet. Thus, if attempting a reply kind to a Tweet, bridgy will throw an error "no link could be found".

So far, and only looking specifically at stored tweet embed code, I have come up with this in my `kind.php` template to add the `u-

[2017-04-26 00:10] chrisaldrich opened #30 "Automatically add u-featured class to Post Thumbnail"
I'm not sure if this was discussed/considered previously outside of a few brief IRC conversations, but it could be useful for bridgy-publish to automatically add a `u-featured` class to the [Post Thumbnail/Featured Image](https://codex.wordpress.org/Post_Thumbnails) as most themes won't know about it and many users will appreciate having a photo in their tweets when cross posted via brid.gy.

@mik

[2017-04-26 00:23] miklb commented on #30
One thought I had was to look into whether there's a way to add a checkbox to the options screen before you insert the image as the featured image. If so, might be handy to add one to regular images to add the `u-photo` class for photo posts.

May be something for the IndieWeb plugin, since not everyone may use brid.gy but may want option to use the classes for other POSSE.

[2017-06-25 18:13] dshanske opened #31 "Rebrand as Bridgy"
Suggesting this plugin expand to be a 'Bridgy" plugin that includes assisting in signup and such.

[2017-06-25 18:15] dshanske opened #32 "Explanation"
Plugin lacks explanation of what Bridgy is and how to set it up

[2017-06-25 18:23] dshanske opened #33 "Registration Direct From Plugin"
https://brid.gy/about#registration-api

[2017-06-25 19:03] miklb opened #34 "Add Checkins"
I understand the infrastructure is in place for checkin type now, just needs to be surfaced.

Currently, the WordPress micropub plugin now supports the experimental "checkin" type coming from OwnYourSwarm, setting the `meta_key` `mf2_checkin`

OYS will add the location to the content in a `h-card` with `p-name`.

[2017-06-25 19:06] miklb commented on #34
I should add currently post-kinds doesn't set.a kind at all, not even default to note, so the OYS PESOS breaks.

I'm more than happy to work on an interim solution while you flesh out deeper integrations with simple-location if you give me some direction on what you'd like to see.

[2017-07-01 16:10] dshanske opened #35 "Bridgy Publish not adding links to this site"
https://doubleloop.net/2017/07/01/467/

[2017-07-02 12:04] ngm commented on #35
@dshanske I've just updated to Wordpress 4.8 and publishing from Bridgy Publish is working again just fine.  Weird.

I was on 4.7.5 before updating.   Just for posterity's sake, this was the error I was receiving before:

[2017-07-02 14:23] dshanske commented on #35
I couldn't reproduce the issue. I have a new version of the plugin in the works that adds registration links to sign up for Bridgy. I will check the link code before the release.

[2017-07-09 03:07] dshanske commented on #34
Not a Bridgy Publish problem.

[2017-07-09 03:07] #34 closed

[2017-07-09 03:08] #31 closed

[2017-07-09 03:08] #33 closed

[2017-07-09 03:43] miklb commented on #34
sorry, was totally meant for post-kinds. Not sure how I got wrong repo.

[2017-07-11 02:43] #27 closed

[2017-07-15 07:31] svnsbck opened #37 "Registering for Instragram doesn't work"
Hi,

It seems that registering for Instagram doesn't work. It leads to https://brid.gy/instagram/start resolving to a 405 Method Not Allowed.

Thought you might want to know.

[2017-07-16 21:53] dshanske commented on #37
https://github.com/snarfed/bridgy/issues/752

[2017-07-17 16:06] snarfed commented on #37
@dshanske i've fixed this on bridgy's end! one minor think you'll need to do too: add a `user_url` param to the form for instagram specifically, e.g.:

[code]

i tried adding that to the bridgy plugin settings page instagram form manually, and it worked! it still 404ed on the last redirect back to my site, like i mentioned, but that's a separate problem.

[2017-07-20 12:01] prtksxna opened #39 "Did not use excerpt when publishing to twitter"
### Versions
* PHP 5.4.45
* Wordpress 4.8
* Bridgy Publish 1.2.2

### Settings:
* Set Twitter from Post Excerpt is **checked**

### What happened?
In recently published a blog post — http://prtksxna.com/2017/07/18/1389/ — which I syndicated to Twitter using this plugin — https://twitter.com/prtksxna/status/887347617646202881. While I had set the post excerpt to…

…and __Link Back to Post__ as __Ma

[2017-07-23 04:28] #37 closed

[2017-08-26 14:52] ngm opened #40 "Syndication when publishing via Quill not working"
I have Micropub 1.2 and Bridgy 1.3.0 plugins installed.

When publishing via Quill, I can see and select the option for Twitter via Bridgy Publish.  However, it doesn't syndicate out to Twitter.

As far as I can tell it's because Quill sends `mp-syndicate-to`, which gets stored in wp_postmeta as `mf2_mp-syndicate-to`, whereas when the `services` method in `class-bridgy-postmeta.php` called by `wp_

[2017-09-01 03:07] Ruxton commented on #40
Similarly OwnYourGram (and anything else micropub) isn't syndicating.

It's because there is actually nothing that runs at micropub posting time, I've got a fix in the works to take care of this.  The only time bridgy-publish syndicates at present, is when you post from the WP admin ui and check the boxes.

This is what I'm working with at the moment, haven't had a chance to test it as OWG is down

[2017-09-07 04:00] dshanske commented on #40
Updated in latest dev version. It changed since the last time I added the feature.

[2017-09-07 04:00] #40 closed

[2017-10-15 13:56] snarfed opened #41 "Link Back to Post: Hide doesn't work"
hey david! i tried the bridgy publish plugin with twitter just now, and it worked great...except it ignored my choice of _Hide_ in the _Link Back to Post_ drop-down. looks like it didn't include the `bridgy_omit_link=true` param in the webmention. here's the bridgy log:

[code]

[2017-10-15 13:57] dshanske commented on #41
I'll see what broke. I know I tested that feature when I deployed it.

[2017-10-15 13:57] dshanske commented on #41
Unit tests, huh?

[2017-10-15 14:00] snarfed commented on #41
very low priority. i vote for semantic linkbacks facepile fixes over this! :P

[2017-10-15 14:03] dshanske commented on #41
I think @pfefferle is working on caching avatars right now for that plugin.

[2017-10-15 14:06] snarfed commented on #41
great! plenty of other facepiles issues to work on too. :P https://github.com/pfefferle/wordpress-semantic-linkbacks/issues/

[2017-11-01 16:37] chrisaldrich opened #43 "Twitter threaded replies via WP comments and syndication"
Just an idea for a rainy day:
It would be interesting to allow threaded Twitter conversations using comment webmentions and bridgy publish in combination with https://github.com/pfefferle/wordpress-webmention-for-comments.

This already works for micro.blog with webmentions directly, but could also be adapted to Twitter.
See also conversation here: https://chat.indieweb.org/2017-11-01#t15095520575

[2017-11-01 23:15] miklb commented on #39
I think the issue might be a missing `class` https://github.com/dshanske/bridgy-publish/blob/master/includes/class-bridgy-postmeta.php#L296

[2017-11-08 23:18] snarfed opened #46 "bridgy signup callback breaks if wordpress installed at different URL path"
hi! looks like the buttons that send people to bridgy to sign up hard code the wordpress admin URL path as `/wp-admin/...`:

https://github.com/dshanske/bridgy-publish/blob/master/includes/class-bridgy-config.php#L322

...but many wordpress sites have it at a different path. eg. mine is at `/w/wp-admin/...` this makes the bridgy signup flow 404 when it gets redirected back to the wordpress site. (

[2017-11-09 03:13] asuh commented on #46
Funny you mention this, I found this bug last night and [submitted a pull request](https://github.com/dshanske/bridgy-publish/pull/45) :smile:

[2017-11-18 05:05] jackysee commented on #41
I've looked into it.
The `<data class="p-bridgy-omit-link" value="true"></data>` has to be in content.

[2017-11-18 05:12] jackysee commented on #41
created a pull request for this.

[2017-11-18 18:09] #46 closed

[2017-11-18 18:09] #41 closed

[2017-11-18 18:10] #28 closed

[2017-11-18 18:10] #25 closed

[2017-11-23 15:13] snarfed opened #49 "p-bridgy-twitter-content (aka excerpt) not rendered consistently?"
(moved here from https://github.com/snarfed/bridgy/issues/527#issuecomment-346536517)

@jackysee:

@dshanske:

true! in the preview...but not in the publish. the post currently at https://jacky.seezone.net/2017/11/23/9304/ has `p-bridgy-twitter-content`, and the preview log does show it in parsed mf2...but the publish log (4m earlier) does not, which implies that it wasn't there when the publish h

[2017-11-23 15:14] snarfed commented on #49
(@jackysee mentioned the same thing in https://github.com/snarfed/bridgy/issues/527#issuecomment-346642904)

[2017-11-23 22:04] jackysee commented on #49
One of the hint is that the post is shown as 'uncategorized', while the post actually is categorized as 'weblinks'. So it may be that bridgy is somehow reading a work-in-progress post?

[2017-11-27 06:30] jackysee commented on #49
Following the lead on the 'uncategorized', I found that when my save the post through the rest api, with `status='publish'` directly, the post at the moment of `save_post` hook doesn't have category (hence uncategorized) or post format, which I used in theme to render the `p-bridgy-twitter-content`. Therefore, at the moment when bridgy send webmention, the `p-bridgy-twitter-content` is not there,

[2017-12-13 08:04] Ruxton opened #50 "Timing issues with triggering webmention to bridgy"
Bridgy sends are happening so fast that they seem to be occuring before my image is in place.

This is my process:

1. post to instagram
2. ownyourgram sees that and posts via micropub with syndications
3. save_post fires off in bridgy_publish (at this point attachments are saved)
4. publish_post fires off in bridgy_publish (at this point, webmentions are sent to bridgy)
5. Bridgy doesn't see the

[2018-01-09 04:04] snarfed opened #53 "tell users that bridgy can't publish private posts"
right now the plugin evidently doesn't pay attention to post status, so it lets you POSSE a private post, and then silently fails since bridgy can't see it. [reported in IRC today](https://chat.indieweb.org/wordpress/2018-01-09#t1515469770677600):

[2018-01-09 19:10] snarfed commented on #21
more complaints about this: https://chat.indieweb.org/2018-01-09#t1515524954448400

[2018-01-21 00:28] jernst opened #54 "Missing newline in Bridgy Registration area"
![screen shot 2018-01-20 at 16 26 09](https://user-images.githubusercontent.com/874785/35189416-eb9a7b54-fdfe-11e7-9817-61b9a33badb7.png)

The two separate messages/links should be on separate lines, or at least seperated by a white space. This is 1.3.3.

[2018-01-21 01:38] miklb commented on #54
Looks like there is a PR for that https://github.com/dshanske/bridgy-publish/pull/51

[2018-01-23 19:45] jernst opened #55 "Terminology: "maybe""
One of the options for "Link back to post" is "maybe". It's unclear what that means. Is there a better label that could be used?

[2018-01-23 22:00] miklb commented on #55
`maybe` directly relates to the terminology [bridgy uses for linking back](https://brid.gy/about#omit-link)

[2018-01-23 22:50] jernst commented on #55
What about using, to quote right from that same page, "if shortened" instead of "maybe"? That is something that would give me the right hint what might be happening when.

[2018-01-25 21:30] chrisaldrich commented on #55
<a href="https://github.com/dshanske/bridgy-publish/issues/55" class="u-in-reply-to"></a>@jernst Thanks for your nudges and suggestions for improving the UI in the indieweb suite of plugins!

[2018-02-13 20:21] miklb opened #56 "Support GitHub"
Bridgy now supports stars (likes), replies and new issues in early beta. I believe the Issue kind is coming to post-kinds.

Forgive me if this is already being worked on.

[2018-02-25 02:12] #54 closed

[2018-02-25 03:41] dshanske commented on #49
I used to solve this by having the publish action occur a few seconds later. But it was suggested I remove this so it would happen immediately.

[2018-02-25 04:25] #39 closed

[2018-02-25 04:26] dshanske commented on #21
I think I have fixed this in the latest version.

[2018-02-25 04:26] #21 closed

[2018-02-25 04:26] dshanske commented on #53
According to the code, it doesn't fire on a private post, so I trigger a custom error.

[2018-02-25 04:26] #53 closed

[2018-02-25 04:45] dshanske commented on #56
Do I Support Github now?

(Originally published at: https://github.com/dshanske)

[2018-02-25 04:48] #56 closed

[2018-02-28 20:30] chrisaldrich commented on #56
[Support GitHub · Issue #56 · dshanske/bridgy-publish](https://github.com/dshanske/bridgy-publish/issues/56) _( GitHub)_

@snarfed and @dshanske  are brilliant!

With any luck, this will be my first POSSE reply to Github via my WordPress site using [Bridgy Publish](https://brid.gy/about#github-issue-comment).

(Originally published at: http://boffosocko.com/2018/02/28/first-reply-to-github-with-br

[2018-02-28 20:59] chrisaldrich commented on #56
[Support GitHub · Issue #56 · dshanske/bridgy-publish](https://github.com/dshanske/bridgy-publish/issues/56#issuecomment-368283029) by David Shanske _( GitHub)_

🎉

![](http://1.gravatar.com/avatar/d5fb4e498fe609cc29b04e5b7ad688c4?s=42&d=mm&r=pg)

## Author: Chris Aldrich

I'm a biomedical and electrical engineer with interests in information theory, complexity, evolution, genetics, signal process

[2018-03-02 19:39] miklb commented on #56
Am I missing something? I don't see an option for GitHub in bridgy publish

[2018-03-02 22:37] miklb commented on #56
Sorry, somehow didn't get a clean pull from master.

[2018-04-14 15:56] dshanske commented on #29
I've solved this in Post Kinds by adding a hidden link with the u-url, But that wouldn't work for a shortcode embed. Why not add the hidden link in the filter, rather than adding u-url

[2018-04-21 02:22] dshanske commented on #55
Seems like I changed this

[2018-04-28 16:12] miklb commented on #29
I don't follow what you mean by hidden link.

[2018-04-28 17:11] dshanske commented on #29
I just add an empty link that can't be seen

[2018-06-24 17:14] dshanske commented on #32
Since I am planning on deprecating the plugin, marking these.

[2018-06-24 17:14] #32 closed

[2018-06-24 17:15] dshanske commented on #16
Since I am planning on deprecating the plugin, marking these.

[2018-06-24 17:15] #16 closed

[2018-06-24 17:15] dshanske commented on #29
Since I am planning on deprecating the plugin, marking these.

[2018-06-24 17:16] dshanske commented on #35
Since I am planning on deprecating the plugin, closing all issues.

[2018-06-24 17:16] #30 closed

[2018-06-24 17:16] dshanske commented on #30
Since I am planning on deprecating the plugin, marking these closed.

[2018-06-24 17:17] #43 closed

[2018-06-24 17:17] dshanske commented on #43
Since I am planning on deprecating the plugin, marking these inactive.

[2018-06-24 17:18] dshanske commented on #49
Since I am planning on deprecating the plugin, marking these closed.

[2018-06-24 17:18] #49 closed

[2018-06-24 17:18] dshanske commented on #50
Since I am planning on deprecating the plugin, marking these closed.

[2018-06-24 17:18] #50 closed

[2018-06-24 17:18] #29 closed

[2018-06-24 17:19] #35 closed

[2018-08-03 03:53] Ruxton opened #62 "Sending a syndication endpoint that previously existed, but no longer does causes failure"
After the removal of facebook, OwnYourGram started failing posts for me.  This was caused by the fact OwnYourGram was still trying to syndicate facebook.

Perhaps in this scenario bridgy-publish could quietly move through, rather than error out hard?

[2018-08-20 16:45] miklb opened #63 "stray empty twitter/plublish url in h-feed"
parsing my h-feed using mf2 plugin and default 2016 theme, the h-feed is picking up https://www.brid.gy/publish/twitter as a url. I suspect need to add a check to only insert that on single posts?

[2018-08-20 16:48] dshanske commented on #63
I will push a fix.

[2018-08-20 16:52] miklb commented on #63
I was just documenting from my testing so I didn’t forget. I can send PRs so you can focus on micropub

[2018-08-20 17:09] dshanske commented on #63
This is a quick one

[2018-08-23 00:55] lawjeremy opened #64 "rest_no_route when connecting instagram"
When I click the 'Register for Instagram' button I get an error page with the message rest_no_route.
I connected twitter without issue.

![screen shot 2018-08-22 at 8 53 41 pm](https://user-images.githubusercontent.com/1016878/44498631-a7a37480-a64d-11e8-8abf-1bf50e6e24f0.png)

[2018-11-19 21:22] dshanske opened #65 "Deprecate plugin"
Since Syndication Links now has the base functionality, I should move the registration piece and then determine a path to removal.

[2019-03-24 23:13] mediaformat opened #66 "Bridgy Twitter Callback - 406 Not Acceptable"
Trying to Register for twitter

Not Acceptable!
An appropriate representation of the requested resource could not be found on this server. This error was generated by Mod_Security.

I also tried going directly to brid.gy, seeing I was logged into twitter, I tried adding the website from the edit-sites page.

Any suggestions?

[2019-03-25 00:19] dshanske commented on #66
Well, the plugin is not currently maintained, as the functionality is being merged elsewhere. But you can register directly with bridgy on the site. But this plugin technically doesn't need to get any data back from bridgy during registration. It just uses the return to hide the registration option, so you should be fine.

[2019-03-25 00:20] dshanske commented on #66
Still want to help  Does posting work?

[2019-04-01 02:47] mediaformat commented on #66
Hmmm, I switched themes from Independent Publisher to SemPress and now it seems to work!

But its good to know its no longer supported.

[2019-04-01 02:47] #66 closed